.btn {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 12px !important;
}

.btn-app:hover {
    border: 0 none !important;
}

.btn i.fa {
    margin-right: 5px;
}